<div class="container">
  <h1 class="my-4">Stupid Coaching</h1>
  <form action="answer" data-turbo="false">
    <label for="question">Ask Your Coach Anything</label>
    <div class="d-flex gap-2">
      <input type="text" class="form-control" id="question" name="question">
      <input type="submit" class="btn btn-primary" id="ask" value="Ask!">
    </div>
  </form>
</div>
